{% extends "AppCurso/base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'appCurso/assets/img/04.jpg' %}" alt="...">
                    </div>
                </div> 
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Acerca de mí</h2>
                        <p>¡Hola! Mi nombre es Malena. Estoy emocionada por esta nueva aventura en el mundo de la programación y el desarrollo web. Aunque mi formación se centra en cursos de diseño gráfico y animación, como Photoshop, Illustrator, After Effects y animación en 2D, estoy dispuesta a explorar y aprender nuevas habilidades en este emocionante campo. ¡Gracias por ver!</p>
                        <p>Conéctame en LinkedIn: <a href="https://www.linkedin.com/in/malena-basoalto-1a03a0178/" target="_blank">Mi perfil de LinkedIn</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
